*{
	webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
	background:#eeeeee;
}
.resture-name {
    border-top: 3px solid #5BBD50;
}
.resture-name img{
    float:left;
}
 a {
    color: #1B242F;
    text-decoration: none;
	background: transparent;
}
a:-webkit-any-link {
    cursor: pointer;
    
}
h1,h2{
	color:#535353;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header{
	background:#eeeeee;
}
p {
    display: block;
	margin: 0 0 10px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.queries {
    float: left;
    margin-left: 15%;
	margin-top:4%;
}
.queries p {
    color: #727272;
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 3px;
}
.queries p span {
    color: #E24425;
    margin-left: 0.8em;
    font-weight: 700;
    font-size: 0.95em;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
	margin:0;
}
.clearfix {
    display: table;
    content: " ";
	clear:both;
}
.nav {
    background:#dddddd;
	
}
.nav-menu {
	padding:11px 0;
}
.top-menu {
    display:inline;
}
ul,ol {
    display:inline;
	margin:0 14px;
	padding:0;
	
    
}
.nav-right li a{
	text-decoration:underline;
}
.top-menu ul li {
    display: inline-block;
    margin: 0 37px;
	padding:0;
}
.top-menu ul li a {
    margin: 0.4em 0;
    font-size: 16px;
    display: block;
    color: #494949;
    font-weight: 700;
    text-transform: uppercase;
}
.active-menu{
	color: #5BBD50;
}
.top-menu ul li a:hover {
    color: #5BBD50;
}
.login-section {
    float: right;
    color: #D9D9D9;
}
.login-section ul li {
    display: inline-block;
    margin: 0 37px;
	padding:0;
}
.login-section ul li a:hover {
    color: #5BBD50;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    visibility: visible;
    animation-delay: 0.4s;
    
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
 
.banner {
    background: url(../images/banner.jpg) no-repeat;
    min-height: 400px;
    background-size: cover;
	position:relative;
	
    
}
/* subcribe  */
.form-subcribe{
	margin:0 auto;
	max-width:800px;
	margin-top:3px;
}
.form-subcribe p{
	font-size:1.5em;
	padding-right:10px;
	color:#fff;
	font-weight:600;
	text-transform:italic;
}
.form-news{
	display:inline-block;
    max-width:300px;
    padding: 0.375em 0.75em;
    font-size: 1em;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #5BBD50;
    border-radius: 0.30em;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.pointer{
	cursor: pointer;
}
.botton-search{
    color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.05);
	background-color: #5BBD50;
    border-color: #e9ecef;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding:0.57em 0.75em;
    font-size: 1em;
    border-radius: 0.25em;
	display:inline-block;
    
}
	
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.banner-info {
    padding-top: 4em;
    position: relative;
}

.text-center {
    text-align: center;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
	visibility: visible;
    animation-delay: 0.5s;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}
.banner-info h1 {
    color: #FFFFFF;
    font-size: 2.5em;
    font-weight: 100;
}

.line h2 { 
    font-size: 30px;
	color: #FFFFFF;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
}
.food-ordering {
	background:#ffffff;
}
.bounceInRight {
	
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
	visibility: visible;
    animation-delay: 0.4s;
}
.bounceInRight h1{
	font-size:30px;
}
.bounceInRight h2 span{
	color:#e24425;
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
}
80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}
100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: 
}
}
.steps-to-follow{
    margin-top: 6em;
	grid-template-columns: 300px 300px 300px 300px;
	
	
}

.ordering-section{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    margin-left: 20%;
	
}
.clear{
	clear:right;
}


.img-back1{
    background: url(../images/order-section-bg.png) no-repeat;
    min-height: 200px;
    position: relative;
    cursor: pointer;
	
	
}
.color{
	color:#4d9644;
}
.ordering-section-img{
    position: absolute;
    top: -15%;
    left: 22%;
}
.fadeInRight {
	visibility: visible;
    animation-delay: 0.4s;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
}

/*** start of section 2 ***/
/* special offer */
.special-offer{
	max-width: 400px;

	margin: auto;
}
.special-offer h1{
	text-align: center;
	font-family:sans-serif helvetica serif Arial;
    padding: 5px;
	border:2px dotted #f3efef;
	border-radius: 4px;
	color: #fff;
	background: #72c767;
	font-style: italic;
}
.button-card{
	float:right;
	background:#72c767;
	padding: 8px;
	color: #fff;
	border-radius: 3px;
	margin:3px;

}
.cost{
	font-size:20px;
}
.button-card a:hover{
	background:#505050;
	color: #72c767;
}
.table-image{
	margin:auto;
	width:89%;
	margin-bottom:20px;
	
}
.table-image caption{
	 font-size:26px;
	 font-weight:bold;
	 padding:20px 0;
	 font-family:Prata,Lato;
}
.table-image td{
	border:1px dashed black;
	text-align:center;
	padding-top:10px;
	
}
.table-image tr{
	background:#505050;
}
.table-image tr td p{
	color:#fff;
}
/******
      start of  login page 
******/
.section-login{
	width:100%;
	min-height:400px;
} 
.green{
	 padding:4px;
	background:#4d9644;
}
.home-back{
	margin:50px;
	font-family:Arial,helvetica,sans-serif;
	font-size:16px;
	position:relative;
}
.list-item{
	list-style:none;
}
.left-home{
	float:left;
}
.left-home a{
	text-decoration:underline;
}
.left-home a:hover{
	color:#fff;
}
.button-create{
	padding:10px;
	background:#E24425;
	width:200px;
	text-align:center;
}
.button-create a{
	color:#fff;
	
}
.button-create:hover{
	background:#4d9644;
}
.login{
	color:#626262;
}
.login label{
	color:#6f6f6f;
	padding:15px 0 0 0;
	text-transform:uppercase;
	
}
.input{
	min-width:330px;
	min-height:25px;
}
.botton-space{
	padding:20px 0 20px 0;
}
.botton-space a{
	text-decoration:underline;
}
.botton-space a:hover{
	color:#fff;
}
.button{
	margin-left:6px;
	padding:10px;
	width:100px;
	background:#E24425;
	color:#fff;
	border:none;
	
}
.button:hover{
	background:#4d9644;
}
.right-home{
	float:right;
}
.right-home a{
	text-decoration:underline;
}
.right-home a:hover{
	color:#4d9644;
}

.create-account{
	margin:30px 20px 30px 0;
	width:400px;
	float:left;
}
.login-form{
	position:relative;
	float:left;
	margin:30px 40px 30px 45px;
}
.register-section{
	min-height:550px;
}
.register-body{
	padding:30px 15px 10px 400px;
}
.register-left{
	display:inline;
}

.list-item label{
	text-transform:uppercase;
	margin-bottom:0;
	margin-top:9px;
	color:#6f6f6f;
}
.button-class{
	margin:3px 0 0 227px; 
}
/* guarantee section */
.service-section{
	padding:15px 0; 
	position:relative;
	border-top:3px solid #ccc;
	
	
}
.section-float{
	float:left;
	margin:0 13% 2% 5%;
	vertical-align:middle;
	text-align:center;
	
	
}

.icon{
	display:inline-block;
}


/***end of first phase***/
/*** footer ***/
.footer p {
    color: #5BBD50;
    font-size: 16px;
    font-weight: 500;
	text-align:center;
	padding:5px;
}
footer{
	background:#515151;
	position: relative;
	float: left;
	width: 100%;
}
/*** media and phone section***/
@media (max-width:1100px){
	


.col-1{
	padding-right:0%;
		
}

.special-offer {
	width:300px;
}
.special-offer h1{
	font-size:24px;
}

}
@media (max-width:854px){
	.nav{
		height:80px;
	}
	.login-section{
		float:left;
		margin-top:8px;
	}
	
	.login-section ul li a{
		text-decoration:underline;
	}
	
}

.register-body{
	padding:30px 15px 10px 300px;
}
}
@media (max-width:650px){
	
	.text-font h1{
		font-size:25px;
	}
	.icon-section h4{
	font-size:16px;
}
	.text-font h2{
		font-size:20px;
	}
	.step-Grid{
		margin-left:2%;
	}
	
	.text-food h1{
		font-size:30px;
	}
	.text-food h2{
		font-size:25px;
	}
.register-body{
	padding:30px 15px 10px 150px;
}
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
		overflow:hidden;
	}
	
	.special-offer h1{
		margin-left:60%;
		width:200px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 10%; 
	}
	.create-account{
		 width:300px;
		 margin-left:8px;
	}
   .create-account h1{
	   font-size:21px;
   }
   .create-account p{
	  font-size:14px;
   }
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	@media (max-width:530px){
		
	.step-Grid{
    display: grid;
    grid-template-columns: 300px;
    margin-left:20%;
	}
	.second-label label{
	display:none;
	}
	.create-account{
		 width:300px;
		 margin-left:8px;
	}
   .create-account h1{
	   font-size:21px;
   }
   .create-account p{
	  font-size:14px;
   }
	.special-offer h1{
		margin-left:30%;
		width:200px;
	}

	.text-font h1{
		font-size:25px;
	}
	.text-font h2{
		font-size:15px;
	}
	.register-body{
	padding:30px 15px 10px 100px;
}
}
@media (max-width:440px){
	
	.logo{
		margin-left:25%;
	}
	
.top-menu ul li{
	margin: 0 25px;
}
.special-offer h1{
		margin-left:10%;
		width:150px;
		font-size:20px;
	}
.input{
	min-width:300px;
	
}
.login-form{
	margin-left:10px;
}
.login-form h1{
	font-size:21px;
}
.login-form p{
	font-size:14px;
}
.register-body{
	padding:30px 15px 10px 70px;
}
.register-left h1{
   font-size:21px;
}
.button-class{
	float:right;
}
}
@media (max-width:390px){
	.queries p{
		font-size:18px;
	}
  .top-menu ul li a{
	font-size:14px;
}
.top-menu ul li{
	margin: 0 12px;
}
.line h2 { 
    font-size: 20px;
	color: #FFFFFF;
}
.login-section ul li{
	margin: 0 12px;
}
.special-offer h1{
		margin-left:0;
		width:150px;
		font-size:20px;
	}
	.create-account{
		 width:300px;
		 margin-left:8px;
	}
   .create-account h1{
	   font-size:21px;
   }
   .create-account p{
	  font-size:14px;
   }
   .home-back{
	   margin-left:8px;
   }
.register-body{
	padding:30px 15px 10px 50px;
}
.register-left h1{
   font-size:21px;
}
.register-left h1{
   font-size:17px;
}
}
@media (max-width:350px){
	.botton-search{
		clear:float;
		width:220px;
}

.col-1{
	padding-left:13px;
	width:250px;
}
.login-form{
	margin-left:8px;
}
.login-form h1{
	font-size:18px;
}
.login-form p{
	font-size:14px;
}
.input{
	min-width:240px;
}
.botton-space .button{
	float:right;
}
.create-account{
		 width:250px;
		 margin-left:8px;
	}
   .create-account h1{
	   font-size:18px;
   }
   .create-account p{
	  font-size:13px;
	  line-height:1.5em;
   }
   .botton-space a{
	   font-size:14px;
   }
   .register-body{
	padding:30px 15px 10px 10px;
}
}
/* mobile scream */
@media screen and (max-width: 800px)
.footer-section {
    width: 735px;
}
}
@media (min-width: 768px)
.footer-section {
    width: 750px;
}